[{
	"url": "/api/test",
	"method": "get",
	"controller": "controllers.test",
	"handler": "get"
},
{
	"url": "/",
	"method": "get",
	"controller": "controllers.login",
	"handler": "get"	
},
{
	"url": "/views/index",
	"method": "get",
	"controller": "controllers.index",
	"handler": "get"
},
{
	"url": "/views/login",
	"method": "get",
	"controller": "controllers.login",
	"handler": "get"
},
{
	"url": "/views/login",
	"method": "post",
	"controller": "controllers.login",
	"handler": "post"
}]