[{
	"url": "/",
	"method": "get",
	"controller": "controllers.login",
	"handler": "get"	
},
{
	"url": "/views/index",
	"method": "get",
	"controller": "controllers.index",
	"handler": "get"
},
{
	"url": "/views/login",
	"method": "get",
	"controller": "controllers.login",
	"handler": "get"
},
{
	"url": "/views/login",
	"method": "post",
	"controller": "controllers.login",
	"handler": "post"
},
{
	"url": "/api/game",
	"method": "get",
	"controller": "controllers.game",
	"handler": "get_games"
},
{
	"url": "/api/game",
	"method": "post",
	"controller": "controllers.game",
	"handler": "create_game"
},
{
	"url": "/api/board",
	"method": "post",
	"controller": "controllers.game",
	"handler": "play_move"
},
{
	"url": "/api/board",
	"method": "get",
	"controller": "controllers.game",
	"handler": "get_board"
},
{
	"url": "/api/board",
	"method": "put",
	"controller": "controllers.game",
	"handler": "start_game"
},
{
	"url": "/api/game",
	"method": "put",
	"controller": "controllers.game",
	"handler": "join_game"
},
{
	"url": "/views/game_list",
	"method": "get",
	"controller": "controllers.game_list",
	"handler": "get"
}]