<html>
	<head>
		<title>Sequence Board</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="style/index_new.css">
	</head>
	<body>
		<div id="container">
			<div id="player_hand"></div>
			<div id="player_rotation">
				<h2><b>Players</b></h2>
				<button id="end" onclick="end()">End</button> <button id="mute" onclick="mute()">Mute</button> <button id="pause" onclick="pause()">Pause</button>
			</div>
			<div id="game_container">
				<table id="sequence_board">
				</table>
			</div>
			<div id="deck_container">
				<img id="deck" src="images/yellow_back.png" />
				<img id="red_coins" src="images/red.png" />
				<img id="green_coins" src="images/green.png" />
				<img id="blue_coins" src="images/blue.png" />
				<button type="button" class="btn btn-primary" onclick="vertical_board()">Vertical View</button>
				<button type="button" class="btn btn-primary" onclick="horizontal_board()">Horizontal View</button>
			</div>
		</div>
		<div id="wait">
			<div class="loader"></div>
			<div id="waiting_block"><p>Waiting for games to start</p></div>
		</div>
		<script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.27.6.min.js"></script>
		<script src="https://cdn.pubnub.com/webrtc/webrtc-v2.js"></script>
		
		<script type="text/javascript" src="scripts/index_new.js"></script>
	</body>
</html>